body {
  background-color: black;
  color: white;
}

.App-header {
  background-color: #000000;
  padding: 20px;
  text-align: center;
border-bottom: 1px solid white;
}

.App-header nav a:not(:last-child){
  margin-right: 10px;
}

.navbar {
  margin: 20px;
  text-align: center;
}

.content {
  margin: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 5px;
  color: black;
}

.banner {
  width: 60%;
  height: auto;
  margin: 0 auto;
}

.img-wrapp{
  width: auto;
  text-align: center;
  margin: 20px 0;
}

a {
  color: rgb(0, 60, 255); 
  text-decoration: none; 
}

a:hover {
  color: red; 
}

a:visited {
  color: purple; 
}

a:active {
  color: orange; 
}